<ion-view title="Quickit" >
  <ion-content ng-controller="AddCatagory">
  <div align="center" >
                    <div class="Input">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="catagoryName" id="catagoryName" type="text" placeholder="Type in Catagory Name" />
                    </div>

                   
                
                <div style="margin-bottom:10%;"></div>
                
                <div style="width:50%;" ng-click='addCatgoryBtn()'>
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>
			
</div>			
</ion-content>				
</ion-view>
