<div ng-controller="catagoryCtrl">


<ion-view hide-back-button="true" title="<p class='HeaderTitleCenter'>{{'toggles_title' | translate}} </p> " >


   <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="BackSaveChanges()" >
    <i class="icon ion-ios-arrow-back"></i>
    {{'toggles_back' | translate}} </button>
    </ion-nav-buttons>
	
	

<ion-content  class="mainClass">  

	

	<div style="">
	</div>
			
<div class="list" style="padding-bottom:55px; z-index:1; position:relative; margin-top:35px;">
	<div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_picture' | translate}} 
           </div>
           <div ng-class = "toggle_params.picture == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(1)">
               <div></div>
           </div>
        </div>
    </div>
	
    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_itemno' | translate}} 
           </div>
           <div ng-class = "toggle_params.itemno == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(2)">
               <div></div>
           </div>
        </div>
    </div>
	
    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_price' | translate}} 
           </div>
           <div ng-class = "toggle_params.price == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(3)">
               <div></div>
           </div>
        </div>
    </div>
	
    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_qty' | translate}} 
           </div>
           <div ng-class = "toggle_params.qty == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(4)">
               <div></div>
           </div>
        </div>
    </div>

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_cbm' | translate}} 
           </div>
           <div ng-class = "toggle_params.cbm == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(5)">
               <div></div>
           </div>
        </div>
    </div>

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_weight' | translate}} 
           </div>
           <div ng-class = "toggle_params.weight == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(6)">
               <div></div>
           </div>
        </div>
    </div>

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_supno' | translate}} 
           </div>
           <div ng-class = "toggle_params.supno == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(7)">
               <div></div>
           </div>
        </div>
    </div>	
    
    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_remarks' | translate}} 
           </div>
           <div ng-class = "toggle_params.remarks == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(8)">
               <div></div>
           </div>
        </div>
    </div>		

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_desc' | translate}} 
           </div>
           <div ng-class = "toggle_params.desc == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(9)">
               <div></div>
           </div>
        </div>
    </div>	

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_size' | translate}} 
           </div>
           <div ng-class = "toggle_params.size == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(10)">
               <div></div>
           </div>
        </div>
    </div>		

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_material' | translate}} 
           </div>
           <div ng-class = "toggle_params.material == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(11)">
               <div></div>
           </div>
        </div>
    </div>	
	
    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		{{'toggles_stock' | translate}} 
           </div>
           <div ng-class = "toggle_params.stock == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(12)">
               <div></div>
           </div>
        </div>
    </div>		
	

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
           		 <input type="text" ng-model="toggle_params.customText1" placeholder="{{'toggles_custom1' | translate}} ">

           </div>
           <div ng-class = "toggle_params.custom_toggle == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(13)">
               <div></div>
           </div>
        </div>
    </div>		


    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
                    <input type="text" ng-model="toggle_params.customText2" placeholder="{{'toggles_custom2' | translate}} ">

           </div>
           <div ng-class = "toggle_params.custom_toggle2 == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(14)">
               <div></div>
           </div>
        </div>
    </div>

    <div class="lineToogle">
    	<img src="img/line.png" style="width:100%;" />
    </div>
    <div class="toogles">
        <div class="toogle"> 
           <div class="tooglLeft">
                    <input type="text" ng-model="toggle_params.customText3" placeholder="{{'toggles_custom3' | translate}} ">

           </div>
           <div ng-class = "toggle_params.custom_toggle3 == 1 ? 'ActiveCircleToogle':'NonActiveCircleToogle'" align="center" ng-click="changeToggle(15)">
               <div></div>
           </div>
        </div>
    </div>	
	

	
	<ul class="list">
	<!--
        <li class="item item-toggle">
           PICTURE
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.picture"  >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
	
		
		        <li class="item item-toggle">
           ITEM No
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.itemno" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		        <li class="item item-toggle">
           Price
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.price" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		        <li class="item item-toggle">
           QTY/CTN
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.qty" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		        <li class="item item-toggle">
           CBM
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.cbm" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		        <li class="item item-toggle">
           WEIGHT
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.weight" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		        <li class="item item-toggle">
           Sup item No
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.supno" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		        <li class="item item-toggle">
           REMARKS
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.remarks" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		        <li class="item item-toggle">
           DESCRIPTION
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.desc" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
				<li class="item item-toggle">
           SIZE
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.size" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
				<li class="item item-toggle">
           MATERIAL
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.material" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
			<li class="item item-toggle">
           STOCK
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="toggle_params.stock" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
		
	
		<li class="row">
           <div style="width:70%;">
           		<label class="item item-input">
                    <input type="text" ng-model="toggle_params.customText1" placeholder="Custom Field Name 1">
                </label>
           </div>
           <div class="item item-toggle" style="border-left:none; width:30%; margin-right:1%;">
               <label class="toggle toggle-positive">
                 <input type="checkbox" ng-model="toggle_params.custom_toggle" >
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
           </div>
        </li>
		
		
        <li class="row">
           <div style="width:70%;">
           		<label class="item item-input">
                    <input type="text" ng-model="toggle_params.customText2" placeholder="Custom Field Name 2">
                </label>
           </div>
           <div class="item item-toggle" style="border-left:none;  width:30%; margin-right:1%;">
               <label class="toggle toggle-positive">
                 <input type="checkbox" ng-model="toggle_params.custom_toggle2" >
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
           </div>
        </li>
		
         <li class="row">
           <div style="width:70%;">
           		<label class="item item-input">
                    <input type="text" ng-model="toggle_params.customText3" placeholder="Custom Field Name 3">
                </label>
           </div>
           <div class="item item-toggle" style="border-left:none;  width:30%; margin-right:1%;">
               <label class="toggle toggle-positive">
                 <input type="checkbox" ng-model="toggle_params.custom_toggle3" >
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
           </div>
        </li>
-->
   </ul> 

   
	
</div>	



	





	
<!--
	<div class="bar bar-footer bar-balanced" ng-click="saveChanges()">
  <div class="title">SAVE</div>
</div> 	 
-->



</ion-content>		



<!--
<ion-footer-bar class="bar-assertive">
	<div class="bar bar-footer bar-balanced" ng-click="saveChanges()">
  <div class="title">SAVE</div>
</div> 	 
</ion-footer-bar>
-->
	
</ion-view>
<ion-footer-bar>
     <div class="bar bar-footer" style="background-color:#ff7a00; height:70px;">
      <div class="title FooterToogle" ng-click="saveChanges()"><img src="img/save_icon.png" style="width:25px; padding-right:10px;" />{{'toggles_save' | translate}} </div>
     </div>
</ion-footer-bar>
</div>