
<ion-view title="<p class='HeaderTitleCenter'>{{'customermanage_customers' | translate}} </p> " >

<ion-content  style="padding-top:5px;">

	<div style="margin-top:50px;">
	</div>
    <div style="width:100%" align="center" >
	<!--
	   <form name="custumerForm" ng-submit="saveCust()" role="custumerForm" novalidate>
	-->
	<div style="width:100%; margin:15px 0 15px 0"  align="center" >
    	<div style="width:50%">
	<!--
        	<img ng-src="{{defaultImage}}"  style="width:100%;" />
			<div style="display:none;">
			<input type="file" id="fileupload" name="fileUPP" onchange="angular.element(this).scope().onFileSelect(this)">
			</div>
	-->
		
			<label ng-click="CameraOption()" class="item item-input" style="padding-right:20px; direction:rtl; width:100%;" align="center">
			<!--
			<img  ng-show="imgURI !== undefined" ng-src="{{imgURI}}" align="center" width="80" height="80">
			<img  ng-show="imgURI === undefined" ng-src="{{defaultImage}}" align="center" width="80" height="80">
			-->
			   <img  src="{{defaultImage}}" align="center" width="80" height="80">

			</label>
	  
  
        </div>
	</div>
		
		
    	<div>
             <p>{{'customermanage_name' | translate}}  </p>
             <div class="Input">
				 <input class="InputText"  style="border:none; text-align:center; outline:0;" ng-readonly="editableDefault" name="customername" ng-model="custumerfields.customername" id="phoneInput" type="text" placeholder=""  />

             </div>
        </div>
        
        <div style="padding-top:10px;">
             <p>{{'customermanage_company' | translate}} </p>
             <div class="Input">
				<input class="InputText"  style="border:none; text-align:center; outline:0;" name="company" ng-model="custumerfields.company" id="phoneInput" type="text" placeholder=""  />

             </div>
        </div>	
		
		       <div style="padding-top:10px;">
             <p>{{'customermanage_email' | translate}} </p>
             <div class="Input">
				<input class="InputText"  style="border:none; text-align:center; outline:0;" name="email" ng-model="custumerfields.email" id="phoneInput" type="email" placeholder=""  />

             </div>
        </div>	
		
		       <div style="padding-top:10px;">
             <p>{{'customermanage_mobile' | translate}} </p>
             <div class="Input">
				<input class="InputText"  style="border:none; text-align:center; outline:0;" name="mobile" ng-model="custumerfields.mobile" id="phoneInput" type="number" placeholder=""  />

             </div>
        </div>	
		
		       <div style="padding-top:10px;">
             <p>{{'customermanage_products' | translate}} </p>
             <div class="Input">
				<input class="InputText"  style="border:none; text-align:center; outline:0;"  name="products" ng-model="custumerfields.products" id="phoneInput" type="text" placeholder=""  />

             </div>
        </div>	
		
		<div style="padding-top:5px;"></div>
		<p ng-show="showsubmit">{{'customermanage_uploading' | translate}} ...</p>
		<!--
		<button  ng-click="custList()"  class="button button-positive">CUSTOMER LIST</button>
		<button type="submit" ng-disabled="custumerForm.$invalid || showsubmit" class="button button-royal">SAVE</button>
		-->


</div>


<!--
</form>
-->
</ion-view>	

</ion-content>				

  	<ion-footer-bar>
		<div class="button-bar">
			<button type="submit"  ng-click="saveCust()" ng-disabled="custumerForm.$invalid || showsubmit" class="button button-full button-royal">{{'customermanage_save' | translate}} </button>
			<button  ng-click="custList()" class="button button-full button-positive">{{'customermanage_list' | translate}} </button>
		</div>
	</ion-footer-bar>
