<ion-view title="Quickit" class="mainClass">

<!--
<ion-content ng-controller="ForgotPasswordCtrl" >  
-->


<!--
<div class="list">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
</div>
-->

	<div style="margin-top:50px;">
	</div>
	
  <div align="center" style="padding-top:25px;">
  					<div style="width:100%; margin-bottom:20px;" align="center">
                        <div style="width:50%">
                            <img src="img/main/logo.png" style="width:100%;" />
                        </div>
                    </div>
                    <div class="Input">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="email" id="emailInput" type="email" placeholder="{{'forgot_typeemail' | translate}}"  autocomplete="off"/>
                    </div>
					
       

					
				   <!--
                	 <li class="item item-checkbox" style="background-color:transparent; text-align:left; color:black; margin-top:20px;">
                         <label class="checkbox">
                           <input type="checkbox" ng-model="terms">
                         </label>
                       I agree to the terms
  					</li>
					-->

  
  <ion-footer-bar>
  <div class="title">
                  <div style="width:100%;" ng-click='sendPassword()'>
                	<div style="position:absolute; left:25%;"  class="chinaBtn">
                    	{{'forgot_sendpass' | translate}} 
                    </div>
            		<img src="img/main/btn.jpg" style="width:100%" />
                </div>
  </div>
</ion-footer-bar>

			<!--
                <div style="margin-bottom:10%;"></div>
                
                <div style="width:70%;" ng-click='sendPassword()'>
                	<div style="position:absolute; left:25%;"  class="chinaBtn">
                    	SEND PASSWORD
                    </div>
            		<img src="img/main/btn.jpg" style="width:100%" />
                </div>
			-->
</div>			
<!--
</ion-content>				
-->

</ion-view>
