<ion-view title="Quickit" class="mainClass" hide-nav-bar="true" >
	<ion-content  class="mainClass"> 
    	<div class="loginHeader" >
        	<img src="img/login_header.jpg" style="width:100%;" />
            <div class="lanButton">
                <p ng-click="changeLanguage('{{selectedLanguage}}')" style="color:white; text-align:right; font-weight:bold; padding-left:5px; margin-top:0px; font-size:18px; float:left">{{selectedLanguageCap}} | </p>
				<img ng-click="changeLanguage('ch')" src="img/china_icon_white.png" style="width:40px; float:left; margin-top:0px; margin-left:4px;" />            
			</div>
        </div>
         <div class="inputTextDiv" align="center">
        	<p class="inputTitle" style="font-size:33px; margin-bottom:50px;">{{"login_logintext" | translate}} </p>
         </div>
         <div class="inputTextDiv" align="center">
            <div class="inputTextActive">
                <p class="inputTitle">{{"login_email" | translate}} </p>
                <img src="img/mail_icon.png" class="inputIcon" />
                <input class="InputType"  ng-model="fields.email" id="emailInput" type="email" placeholder=""  autocomplete="off" />
               <!-- <img src="img/textbox.png" style="width:100%" />-->
            </div>
        </div>
        
        <div class="inputTextDiv" align="center">
            <div class="inputTextActive">
                <p class="inputTitle">{{"login_password" | translate}} </p>
                <img src="img/pass_icon1.png" class="inputIcon" style="width:5%; margin-left:3px; margin-top:0px;" />
                <input class="InputType"  ng-model="fields.password"  type="password" placeholder=""  autocomplete="off" />
               <!-- <img src="img/textbox.png" style="width:100%" />-->
            </div>
        </div>
        
         <div class="forgotPass" ui-sref="app.forgot">
              {{"login_forgot" | translate}} 
         </div>
         <div style="width:100%" align="center">
             <div class="loginButtons" align="center" >
                <div class="loginButtons_Left" ng-click="checklogin()">
                    <img src="img/log_in.png" style="width:100%" />
                </div>
                <div class="loginButtons_Right" ui-sref="app.register">
                    <img src="img/new_user_button.png" style="width:100%" />
                </div>
             </div>
         </div>
    </ion-content>	
    
    
<!--
  <div align="center" style="padding-top:25px;">
  					<div style="width:100%; margin-bottom:20px;" align="center">
                        <div style="width:50%">
                            <img src="img/main/logo.png" style="width:100%;" />
                        </div>
                    </div>
                    <div class="Input">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="emailInput" id="emailInput" type="email" placeholder="Type in Your Email" />
                    </div>
					
                     <div class="Input">
                        <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="passInput" id="phoneInput" type="password" placeholder="Type in Your password" />
                    </div>
                   
                	 <li class="item item-checkbox" style="background-color:transparent; text-align:left; color:black; margin-top:20px;">

                       By pressing start you agree to the terms
  					</li>
					
					<li class="item" ui-sref="app.forgot">
					<label>Forgot my password</label>
					</li>
  
  					<li class="item" ui-sref="app.register">
					<label>Register</label>
					</li>			
       <div style="margin-bottom:10%;"></div>
</div>			





<ion-footer-bar>
 <div class="bar bar-footer bar-balanced">
  <div class="title" ng-click="checklogin()">START</div>

  </div>
</ion-footer-bar>


	-->		
</ion-view>
