<ion-view title="Catagories" class="mainClass" >
<ion-content >
	<div style="width:100%; margin:15px 0 15px 0" ng-click="fileClick()" align="center" ng-show="picture_show">
    	<div style="width:50%">
	
        	<img src="img/main/addimage.jpg"  style="width:100%;" />
			<div style="display:none;">
			<input type="file" id="selectfile">
			</div>
        </div>
    </div>
    

    <div style="width:100%" align="center">
	<!--
    	<div>
             <div class="Input" style="width:80%;" ng-show="prdname_show">
                     <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="productname" id="productname" name="productname" type="text" placeholder="Product Name" />

             </div>
        </div>
    -->
        <div style="padding-top:10px;" ng-show="price_show">
             <div class="Input" style="width:80%;">
                                <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.price" id="phoneInput" type="text" placeholder="Price" />
             </div>
        </div>
        
      
     <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="qty_show">
                                <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.qty" id="phoneInput" type="text" placeholder="QTY/ctn" />
             </div>
        </div>


     <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="cbm_show">
                                <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.cbm" id="phoneInput" type="text" placeholder="CBM/ctn" />
             </div>
        </div>


     <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="itemno_show">
                                <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.itemnumber" id="phoneInput" type="text" placeholder="Item Number" />
             </div>
        </div>		
       
	   
     <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="remarks_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.remarks" id="phoneInput" type="text" placeholder="Remarks" />
             </div>
        </div>	
		
		

  <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="weight_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.weight" id="phoneInput" type="text" placeholder="Weight" />
             </div>
        </div>	
		
		  <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="supno_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.supno" id="phoneInput" type="text" placeholder="Sup item No" />
             </div>
        </div>	
		
		  <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="desc_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.desc" id="phoneInput" type="text" placeholder="Description" />
             </div>
        </div>	
		
		  <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="size_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.size" id="phoneInput" type="text" placeholder="Size" />
             </div>
        </div>	
		
		  <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="material_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.material" id="phoneInput" type="text" placeholder="Material" />
             </div>
        </div>	
		
		  <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="stock_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.stock" id="phoneInput" type="text" placeholder="Stock" />
             </div>
        </div>	
		
		  <div style="padding-top:10px;">
             <div class="Input" style="width:80%;" ng-show="custom_show">
                    <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.custom" id="phoneInput" type="text" placeholder="Custom Field" />
             </div>
        </div>
       
     
<div style="padding-top:15px;"></div>	
<!--
	<div align="center" style="display:inline; padding-top:10px;">
		<button class="button button-royal" ng-click="prevItemBtn()">PREV ITEM</button>
	</div>
-->
	
	<div align="center" style="display:inline; padding-top:10px;">
  <div class="button button-positive" ng-click="nextItemBtn()">NEXT ITEM</div>    
</div>

	<div align="center" style="display:inline; padding-top:10px;">
  <div class="button button-positive" ng-click="prevItem()">PREV ITEM</div>    
</div>


	<div align="center" style="display:inline; padding-top:10px;">
  <div class="button button-royal" ng-click="newItemBtn()">NEW ITEM</div>    
</div>

<!--
	<div align="center" style=" padding-top:10px;">
	<button class="button button-balanced" ng-click="myProductsBtn()">MY PRODUCTS</button>
</div>
-->
       </div> 
 
</ion-content>				
</ion-view>
