  <ion-modal-view class="mainClass">
  <!--  <ion-header-bar>
      <h1 class="title">Booth</h1>
	  <div class="buttons">
      <button class="button button-clear" ng-click="closeBoothModal()">Close</button>
    </div>
    </ion-header-bar>
	
	
	 <div class="bar bar-subheader headerDate" style="margin-top:5px; height:50px !important;">
  		<div class="title" style="margin-top:0px; width:100%; padding-top:3px; overflow:hidden;">
        	<div style="width:33%; float:left">
                <p class="titleAddProduct"></p>
            </div>
			<!--
            <div style="width:33%; float:left">
                <p class="titleAddProduct">Market : Enter Market</p>
            </div>
			
            <div style="width:33%; float:right">
                <img src="img/pencilwhite.png" style="width:15px; margin-left:30px; margin-top:22px; " />
            </div>
        </div>
	</div>-->

	
    <ion-content >
	<div class="modalHead">
                    	<img src="img/bar.jpg" style="width:100%" />
                        <div class="modalBar">
                            <div class="modalBack" ng-click="closeBoothModal()">
                                <img src="img/modal/back.png"  />
                            </div>
                             <div class="modalInfo">
                                {{"prd_booth" | translate}} : <br />{{TotalBooth}}
                            </div>
                            <div class="modalInfo1">
                                {{"prd_products" | translate}} : <br />{{TotalProducts}}
                            </div>
                             <div class="modalSearch">
                                 <img src="img/modal/search.png" style="width:100%" />
                            </div>
                             <div class="modalMenu">
                                 <img src="img/modal/menu.png" style="width:100%" />
                            </div>
                        </div>
                    </div>
					<div class="headerModal">
                        <div class="title" style="margin-top:0px; width:100%; overflow:hidden;">
                            <div style="width:33%; float:left">
                <p class="inputDateProduct">{{"prd_day" | translate}} <span>{{Day}}</span> / {{"prd_month" | translate}} <span>{{Month}}</span> / {{"prd_year" | translate}} <span>{{Year}}</span></p>
                            </div>
                            <div style="width:33%; float:left">
								<p class="titleAddProduct">{{quotename}}</p>
                            </div>
                            <div style="width:33%; float:left">
                                <p class="titleAddProduct" style="font-weight:200; font-size:15px;"></p>
                            </div>
                        </div>
                    </div> 
                    
    <div style="width:100%; overflow:hidden" align="center">
		<!--
		<div style="width:100%; margin:15px 0 15px 0"  align="center" >
    	<div style="width:50%; overflow:hidden; padding:10px;" >
        	<img src="{{supplier_image}}"  style="width:40%;  float:left; margin-left:10px;" ng-click="takeSupplierPicture(1,1)" />
			<img src="{{supplier_image2}}"  style="width:40%; float:left; margin-left:10px;" ng-click="takeSupplierPicture(1,2)" />
        </div>
		<a class="button button-icon icon ion-image" ng-click="takeSupplierPicture(2)"></a>-->
        
        <div class="supplierCancel" ng-click="clearBooth()">
        	<img src="img/clear.png" style="width:50%; margin-left:30px; margin-top:22px; " />
        </div>
        <div class="supplierCamera" align="center" ng-click="takeSupplierPicture(1,1)" align="center">
        	<div style="width:40%; margin-top:20px;">
        		<img src="{{host}}{{supplier_image}}"  style="width:100%;  float:left; margin-left:0px;" ng-click="takeSupplierPicture(1,1)" />
				<img ng-if="supplier_image != DeafultUrl" src="{{host}}{{supplier_image2}}"  style="width:100%; float:left; margin-left:0px;" ng-click="takeSupplierPicture(1,2)" /> 
            </div>       
        </div>
		
        <div class="supplierCancel" ng-click="reportAbuse()">
        	<img src="img/report.png" style="width:100%; margin-left:-30px; margin-top:22px; " />
        </div>
		
    </div>
	
	<div class="supplierInputs">
    	<div class="suplliers2rows">
        	<div>
            	<p class="inputP31">{{"suppliermanage_catagory" | translate}}  </p>
                <div class="inputDiv60">
                	<input type="text" ng-model="supplier_fields.catagory" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
           <div>
            	<p class="inputP31">{{"suppliermanage_shop" | translate}} </p>
                <div class="inputDiv60">
                	<input type="text" ng-model="supplier_fields.shopno" ng-change="ChangeShopNo(supplier_fields.shopno)" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
        </div>
        
        <div class="suplliers2rows">
        	<div>
            	<p class="inputP31">{{"suppliermanage_street" | translate}} </p>
                <div class="inputDiv60">
                	<input type="text" ng-model="supplier_fields.street" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
           <div>
            	<p class="inputP31">{{"suppliermanage_floor" | translate}} </p>
                <div class="inputDiv60">
                	<input type="text" ng-model="supplier_fields.floor" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
        </div>
        
    	<div class="suplliers3rows">
        	<div>
            	<p class="inputPsmall">{{"suppliermanage_gate" | translate}} </p>
            	 <div class="inputDivsmall">
                	<input type="text" ng-model="supplier_fields.gateno" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/xstextbox2.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
            <div>
            	<p class="inputPsmall">{{"suppliermanage_market" | translate}} </p>
            	 <div class="inputDivsmall">
                	<input type="text" ng-model="supplier_fields.market" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/xstextbox2.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
            <div>
            	<p class="inputPsmall">{{"suppliermanage_phone" | translate}} </p>
            	 <div class="inputDivsmall" >
                	<input type="text" ng-model="supplier_fields.phone" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/xstextbox2.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
            
        </div>
		
        
        <div class="suplliers2rows">
             <div>
            	<p class="inputP31">{{"suppliermanage_mail" | translate}} </p>
            	 <div class="inputDiv60">
                	<input type="text" ng-model="supplier_fields.mail" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
			
             <div>
            	<p class="inputP31">{{"suppliermanage_qq" | translate}} </p>
            	 <div class="inputDiv60">
                	<input type="text" ng-model="supplier_fields.qq" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>



			
   		</div>
			
		

</div>		 

 
    </ion-content>
	<ion-footer-bar style="height:68px !important; padding:0px !important; margin:0px !important;">
	<!--
	  <div class="buttons" ng-click="clearGeneralBooth()">
    <button class="button">Clear Booth</button>
  </div>
    <h1 class="title"></h1>

  <div class="buttons" ng-click="saveGeneralSupplier()">
    <button class="button">SAVE</button>
  </div>-->
  <div ng-click="saveSupplier()">
  		<img src="img/savefooter.png" ng-click="saveGeneralSupplier()" style="width:100%; margin-bottom:0px;"   />
  </div>
</ion-footer-bar>
	<!-- <ion-footer-bar align-title="left" class="bar-calm">


  <div class="buttons" ng-click="saveSupplier()">
    <button class="button">SAVE</button>
  </div>

</ion-footer-bar> -->




  </ion-modal-view>

