<ion-view title="Product" >
  <ion-content ng-controller="ManagePrd">
  <div align="center" >
  
      <a href="#/app/manageprd/{{catagoryindex}}/{{NextIndex}}"><div id="NextIndex" ng-show="NextIndex"><img src="img/main/nextbtn.png" width="30" height="30"></div></a>
		<a href="#/app/manageprd/{{catagoryindex}}/{{PreviousIndex}}"><div id="PreviousIndex" ng-show="PreviousIndex"><img src="img/main/backbtn.png" width="30" height="30"></div></a>

<!-- 	<hr /> -->
                    <div class="Input">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="prdName" id="prdName" type="text" placeholder="Type in Product Name" />
                    </div>

                    <div class="Input">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="prdPrice" id="prdPrice" type="text" placeholder="Type in Product Price" />
                    </div>          
      
                    <div class="Input">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="prdQuan" id="prdQuan" type="text" placeholder="Type in Product Quantity" />
                    </div> 
		
                    <div class="Input">
                        <input class="InputText" style="border:none; text-align:center; outline:0;"  ng-model="prdSize" id="prdSize" type="text" placeholder="Type in Product Size" />
                    </div> 

					  <div class="Input">
						<input type="file">
					  </div> 
					
                <div style="margin-bottom:10%;"></div>
                
                <div style="width:50%;" ng-click='savePrd()'>
            		<img src="img/new_user/btns/ok.png" style="width:100%" />
                </div>
			
</div>			
</ion-content>			
</ion-view>
