<ion-side-menus side="left"   width="130"  enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center"  class="bar-dark"  no-tap-scroll=true >
     
     <ion-nav-back-button >
      	 Back
      </ion-nav-back-button>
      
       <ion-nav-buttons side="right">
      	 <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
     
    
      
      <ion-header-bar  align-title="center"  class="bar-stable">
      	<h1 class="title">Menu</h1>
      </ion-header-bar>
      

      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- 
  expose-aside-when="large"
  -->
  
  <ion-side-menu side="left" class="main-menu" >
    <ion-content>
      <ion-list>
       <!-- <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.welcome">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/main/logosquare.png" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting">{{"menu_hi" | translate}} {{name}}</h2>
          <p class="message">{{"menu_welcome" | translate}} </p>
        </ion-item> -->
        <ion-item class="item-icon-left" style="border-top:none !important;" nav-clear menu-close ui-sref="app.welcome">
          <i class="icon ion-home"></i>
          <h2 class="menu-text">{{"menu_newquote" | translate}} </h2>
        </ion-item>
      
	       <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.customers">
          <i class="icon ion-person-stalker"></i>
          <h2 class="menu-text">{{"menu_customers" | translate}} </h2>
        </ion-item>
	  
	  	    <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.quotes">
          <i class="icon ion-clipboard"></i>
          <h2 class="menu-text">{{"menu_myquotes" | translate}} </h2>
        </ion-item>
		
		<!--
	  	  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.catagory">
          <i class="icon ion-checkmark-circled"></i>
          <h2 class="menu-text">{{"menu_catagories" | translate}} </h2>
        </ion-item>
		-->
	  	  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.supplier" ng-show="showSupplier">
          <i class="icon ion-edit"></i>
          <h2 class="menu-text">{{"menu_managesupplier" | translate}} </h2>
        </ion-item>

	  	  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.languages" >
          <i class="icon ion-flag"></i>
          <h2 class="menu-text">{{"menu_languages" | translate}} </h2>
        </ion-item>

		
	  
        <ion-item  class="item-icon-left" nav-clear menu-close  href="" ng-click="logout()">
          <i class="icon ion-log-out"></i>
          <h2 class="menu-text">{{"menu_logout" | translate}} </h2>
        </ion-item>

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>



