<ion-view title="<p class='HeaderTitleCenter'>{{'markets_title' | translate}} </p> " >

<ion-content  class="mainClass" style="padding-top:30px;">  

	<div style="width:100%; margin-top:30px;" align="center">
            	<div class="inputTextDiv" align="center">
                    <div class="inputTextActive">
                        <p class="inputTitleOrange">{{'markets_name' | translate}} </p>
                        <input class="InputTypeLeft"  ng-model="fields.marketname"  type="text" placeholder=""  autocomplete="off" />
                        <img src="img/textbox.png" style="width:100%" />
                    </div>
                </div>
                
                <div class="inputTextDiv" align="center">
                    <div class="inputTextActive">
                        <p class="inputTitleOrange">{{'markets_address' | translate}} </p>
                        <input class="InputTypeLeft"  ng-model="fields.address"  type="text" placeholder=""  autocomplete="off" />
                        <img src="img/textbox.png" style="width:100%" />
                    </div>
                </div>
     </div>           
	<div style="margin-top:75px;">
	</div>
	<!--
	<form name="newMarketForm" ng-submit="saveOther()" role="newMarketForm" novalidate>

    <div style="width:100%" align="center">
	
    	<div>
             <p>{{'markets_name' | translate}}  </p>
             <div class="Input">
                     <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.marketname" id="phoneInput" type="text" placeholder="" required/>
             </div>
        </div>
        
        <div style="padding-top:10px;">
             <p>{{'markets_address' | translate}} </p>
             <div class="Input">
                                <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="fields.address" id="phoneInput" type="text" placeholder=""  />
             </div>
        </div>	
		
		    
		
		<div style="padding-top:5px;"></div>
		<!--
		<button ng-click="saveOther()" class="button button-royal">SAVE</button>
		-->
		
		
</div>		

</ion-content>	

  <!--	<ion-footer-bar>
		<div class="button-bar">
			<button type="submit"   ng-disabled="newMarketForm.$invalid" class="button button-full button-royal">{{'markets_save' | translate}} </button>
		</div>
	</ion-footer-bar> -->
	
	
	<ion-footer-bar>
     <div class="bar bar-footer" style="background-color:#ff7a00; height:70px;">
      <div class="title FooterToogle"  ng-click="saveOther()"><img src="img/save_icon.png" style="width:25px; padding-right:10px;" />{{'markets_save' | translate}} </div>
     </div>
</ion-footer-bar>
	

			

</ion-view>

  
