<!-- <div class="bar bar-subheader">
    <div class="list">
      <div class="item item-input-inset">
        <label id="inputSearch"  class="item-input-wrapper">
          <input id="searchInput" ng-model="quotesSearch" type="text" placeholder="Search Quotes"/>
        </label>
      </div>
    </div>
</div> class="has-subheader"-->

<ion-view class="mainClass" hide-back-button="true" title="<p class='HeaderTitleCenter'>{{'quotes_myquotes' | translate}} </p> " >



   <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="myGoBack()" >
    <i class="icon ion-ios-arrow-back"></i>
    {{BackButtonText}}</button>
    </ion-nav-buttons>
	
	
<ion-content ng-controller="quotesCtrl" >

	  <div style="margin-top:7%; margin-bottom:10%">
					<div  ng-repeat="row in quotes | filter:quotesSearch" ng-if="row.prdcount > 0" >
						<div id="CodeSelectDv" style="height:70px;">
							
							<!--   
                           <div id="userLine">
                           		<img src="img/new_user/line.png" style="width:100%" />
                           </div>
						   -->
                          <div ng-click='CatProducts(row.id,row.title)'> 
						  <div id="UserInfoCode">
                          		<div id="UserInfoText" style="font-weight:bold; color:#ff7b00; font-size:17px;" dir="ltr">{{cutTitle(row.title,0)}}</div>
                                <div id="UserInfoText" style="font-weight:bold;" dir="ltr">{{cutTitle(row.title,1)}}</div>
								<div id="UserInfoText" style="color:#000;">{{'quotes_products' | translate}} : {{row.prdcount}}</div>
								</div>
								</div>
								<div id="codeBtns" style="width:20%;">
									<div id="editProduct" >
									<!--
                                		<img src="img/new_user/edit.png" style="width:100%" />
								   -->
								   <!--
									<button class="button button-icon icon ion-edit" style="font-size:10px !important;" ng-click='editCat(row.id)'></button>
									-->
									<div class="" style="font-size:10px !important;"  ng-click='deleteCat(row.id,row.title)'><img src="img/quotes.png" style="width:60px" /> </div>
									<!-- <button class="button button-icon icon ion-ios-download-outline" style="font-size:10px !important;"  ng-click='sendCsv(row.id)'></button>-->

                                	</div>
									<!--
									<div id="deleteProduct" >
									
                                		<img src="img/new_user/delete.png" style="width:100%" />
                                	</div>
									-->
								</div>
							</div>
                            <div>
                        		<img src="img/line.png" style="width:100%" />
                        	</div>
						</div>
                       
					</div>

 
</ion-content>				
</ion-view>
