
<!--
 <ion-side-menu-content  edge-drag-threshold="true" drag-content="false">
 </ion-side-menu-content>
-->


<ion-view title="{{navTitle}}" class="mainClass"  hide-back-button="true">
    <ion-nav-bar class="bar-dark" >
        <ion-nav-back-button class="button-icon icon  ion-chevron-left">
            
        </ion-nav-back-button>
		<!--
        <ion-nav-buttons side="right">
           <img src="img/qr.png" style="width:45px; height:43px;  margin-top:10px; margin-right:4px;" />
        </ion-nav-buttons>
		-->
         <ion-nav-buttons side="left" >
            <div style="margin-right:12px; margin-top:5px; overflow:hidden; " ng-click="saveGeneralSupplier()">
                <img src="img/back.png" style="width:15px; margin-left:10px; margin-top:15px; " />
           </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    
	 <div class="bar bar-subheader headerDate" style="margin-top:5px; height:50px !important;">
  		<div class="title" style="margin-top:0px; width:100%; padding-top:3px; overflow:hidden;">
        	<div style="width:33%; float:left">
                <p class="titleAddProduct"></p>
            </div>
			<!--
            <div style="width:33%; float:left">
                <p class="titleAddProduct">Market : Enter Market</p>
            </div>
			-->
            <div style="width:33%; float:right">
                <img src="img/pencilwhite.png" style="width:15px; margin-left:30px; margin-top:22px; " />
            </div>
        </div>
	</div>

		
<ion-content  class="mainClass has-subheader">  

    <div style="width:100%; overflow:hidden" align="center">
		<!--
		<div style="width:100%; margin:15px 0 15px 0"  align="center" >
    	<div style="width:50%; overflow:hidden; padding:10px;" >
        	<img src="{{supplier_image}}"  style="width:40%;  float:left; margin-left:10px;" ng-click="takeSupplierPicture(1,1)" />
			<img src="{{supplier_image2}}"  style="width:40%; float:left; margin-left:10px;" ng-click="takeSupplierPicture(1,2)" />
        </div>
		<a class="button button-icon icon ion-image" ng-click="takeSupplierPicture(2)"></a>-->
        
        <div class="supplierCancel" ng-click="clearGeneralBooth()">
        	<img src="img/clear.png" style="width:50%; margin-left:30px; margin-top:22px; " />
        </div>
        <div class="supplierCamera" align="center" ng-click="takeSupplierPicture(1,1)">
        	<img src="img/camera.png" style="width:50%; margin-left:00px; margin-top:22px; " />
        </div>
		<!--
        <div class="supplierCancel" ng-click="reportAbuse()">
        	<img src="img/report.png" style="width:100%; margin-left:-30px; margin-top:22px; " />
        </div>
		-->
    </div>
	
	<div class="supplierInputs">
    	<div class="suplliers2rows">
        	<div>
            	<p style="float:left;">{{'supplier_shop' | translate}} </p>
                <div style="width:68%;  float:left; margin-top:-10px; margin-left:10px; ">
                	<input type="text" ng-model="supplier_fields.shopno" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
           <div>
            	<p style="float:left; ">{{'supplier_name' | translate}} </p>
                <div style="width:68%;  float:left; margin-top:-10px; margin-left:8px; ">
                	<input type="text" ng-model="supplier_fields.market" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
        </div>
        
        <div class="suplliers2rows">
        	<div>
            	<p style="float:left;">{{'supplier_mobile' | translate}} </p>
                <div style="width:68%;  float:left; margin-top:-10px; margin-left:12px; ">
                	<input type="text" ng-model="supplier_fields.phone" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
           <div>
            	<p style="float:left; ">{{'supplier_qq' | translate}} </p>
                <div style="width:68%;  float:left; margin-top:-10px; margin-left:20px; ">
                	<input type="text" ng-model="supplier_fields.qq" style="background-color:transparent; position:absolute; width:30%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
        </div>
        
    	<div class="suplliers3rows">
        	<div>
            	<p style="float:left; width:28%;">{{'supplier_gate' | translate}} </p>
            	 <div style="width:70%;  float:right; margin-top:-10px; margin-left:0px; ">
                	<input type="text" ng-model="supplier_fields.gateno" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
            <div>
            	<p style="float:left; width:28%;">{{'supplier_floor' | translate}} </p>
            	 <div style="width:70%;  float:right; margin-top:-10px; margin-left:0px; ">
                	<input type="text" ng-model="supplier_fields.floor" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
            <div>
            	<p style="float:left; width:30%;">{{'supplier_street' | translate}} </p>
            	 <div style="width:68%;  float:right; margin-top:-10px; margin-left:0px; ">
                	<input type="text" ng-model="supplier_fields.street" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/stextbox1.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
            
        </div>
		
        
        <div class="suplliers1rows">
             <div>
            	<p style="float:left; width:15%;">{{'supplier_mail' | translate}} </p>
            	 <div style="width:77%;  float:left; margin-top:-10px; margin-left:10px; ">
                	<input type="text" ng-model="supplier_fields.mail" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/textbox.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
   		</div>
			
		
        <!--
        <div class="suplliers1rows">
             <div>
            	<p style="float:left; width:15%;">Remarks</p>
            	 <div style="width:77%;  float:left; margin-top:-10px; margin-left:10px; ">
                	<input type="text" style="background-color:transparent; position:absolute; width:17%; text-align:left; margin-left:13px; margin-top:-3px; " />
                	<img src="img/textbox.png" style="width:100%; margin-top:20px;" />
                </div>
            </div>
   		</div>
		-->
		
		
	<!--
    	<div class="supplierRow">
             <p>CATAGORY </p>
             <div class="Input">
                     <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.catagory" id="phoneInput" type="text" placeholder="" tabindex="1" />
             </div>
        </div>
        
        <div class="supplierRow" style="padding-top:10px;">
             <p>SHOP NO</p>
             <div class="Input">
             <input class="InputText"    style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.shopno" id="phoneInput" type="text" placeholder="" tabindex="2" />
             </div>
        </div>	
		
		 <div class="supplierRow" style="padding-top:10px;">
             <p>STREET</p>
             <div class="Input">
             <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.street" id="phoneInput" type="text" placeholder="" tabindex="3" />
             </div>
        </div>	
		
		  <div class="supplierRow" style="padding-top:10px;">
             <p>FLOOR</p>
             <div class="Input">
           <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.floor" id="phoneInput" type="text" placeholder="" tabindex="4" />
             </div>
        </div>	
		
		       <div class="supplierRow" style="padding-top:10px;">
             <p>GATE NO</p>
             <div class="Input">
           <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.gateno" id="phoneInput" type="text" placeholder=""  tabindex="5" />
             </div>
        </div>	
		
		<div class="supplierRow" style="padding-top:10px;">
             <p>MARKET</p>
             <div class="Input">
           <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.market" id="phoneInput" type="text" placeholder="" tabindex="6" />
             </div>
        </div>	
		
		
			<div class="supplierRow" style="padding-top:10px;">
             <p>PHONE</p>
             <div class="Input">
             <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.phone" id="phoneInput" type="text" placeholder="" tabindex="7" />
             </div>
        </div>	
		
		
			<div class="supplierRow" style="padding-top:10px;">
             <p>MAIL</p>
             <div class="Input">
            <input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.mail" id="phoneInput" type="text" placeholder="" tabindex="8" />
             </div>
        </div>
		
		
			<div class="supplierRow" style="padding-top:10px;">
             <p>QQ</p>
             <div class="Input">
				<input class="InputText"  style="border:none; text-align:center; outline:0;"  ng-model="supplier_fields.qq" id="phoneInput" type="text" placeholder="" tabindex="9" />
             </div>
        </div>
		
	
		
		<div style="padding-top:5px;"></div>
		<p ng-show="showsubmit">uploading image, please wait...</p>
		<!--
		<button ng-click="closeBoothModal()" class="button button-positive">CLOSE</button>
		-->
	<!--
	<button ng-click="saveSupplier()" ng-disabled="showsubmit" class="button button-royal">SAVE</button>
	-->
	
</div>		
    </ion-content>
	
	<ion-footer-bar style="height:128px !important; padding:0px !important; margin:0px !important;">
	<!--
	  <div class="buttons" ng-click="clearGeneralBooth()">
    <button class="button">Clear Booth</button>
  </div>
    <h1 class="title"></h1>

  <div class="buttons" ng-click="saveGeneralSupplier()">
    <button class="button">SAVE</button>
  </div>-->
  
<img src="img/savefooter.png" ng-click="saveGeneralSupplier()" style="width:100%; margin-top:20px;" />
</ion-footer-bar>
 
</ion-view>
