<ion-view title="{{navTitle}}" class="mainClass" hide-back-button="true" cache-view="false">
    <ion-nav-bar class="bar-dark" >
         <ion-nav-buttons side="left">
            <div style="margin-right:12px; margin-top:5px; overflow:hidden">
                <p ng-click="changeLanguage('{{selectedLanguage}}')" style="color:white; text-align:right; font-weight:bold; padding-left:5px; margin-top:15px; font-size:18px; float:left">{{selectedLanguageCap}} | </p>
				<img ng-click="changeLanguage('ch')" src="img/china_icon_white.png" style="width:40px; float:left; margin-top:18px; margin-left:4px;" />
           </div>
        </ion-nav-buttons>

    </ion-nav-bar>

		<ion-nav-buttons side="right" >
        <a class="item-icon-left" href="#" style="text-decoration:none;"   ng-click="toggleMenu()">
   		 	<!-- <i class="icon ion-ios-settings-strong" style="color:white;  z-index:-1"></i> -->
			<img src="img/menu_icon.png" style="margin-top:20px; margin-right:10px; width:40px;">
  		</a>
    </ion-nav-buttons> 
	
	
	<ion-content>
            <div style="width:100%; margin:15px 0 15px 0" align="center">
                <div style="width:29%; margin-top:70px;">
                    <img ng-src="{{startBtnImage}}" ng-click="startBtn()" style="width:100%;" />
                </div>
            </div>
           
            <div style="width:100%" align="center">
            	<div class="inputTextDiv" align="center">
                    <div class="inputTextActive">
                        <p class="inputTitleOrange">{{"welcome_quote" | translate}} </p>
                        <p class="inputDate">{{"welcome_day" | translate}}<span>{{day}}</span> / {{"welcome_month" | translate}}<span>{{month}}</span> / {{"welcome_year" | translate}}<span>{{year}}</span></p>
                        <input class="InputTypeLeftDate"  ng-model="fields.quotename"  type="text" placeholder=""  autocomplete="off" />
                        <!-- <img src="img/textbox.png" style="width:100%" /> -->
                    </div>
                </div>
                
                <div class="inputTextDiv" align="center" ng-click="selectMarket()">
                    <div class="inputTextActive">
                        <p class="inputTitleOrange">{{"welcome_market" | translate}}</p>
                        <input class="InputTypeLeft" style="text-align:center; margin-left:0px"  ng-model="fields.marketname"  type="text" placeholder=""  autocomplete="off" />
                         <!-- <img src="img/textbox.png" style="width:100%" /> -->
                    </div>
                </div>
                
                <div class="inputTextDiv" align="center" ng-click="openSettings()">
                    <div class="inputTextActive">
                    	<a href="#/app/customers/">
                        	<p class="inputTitleOrange">{{"welcome_customer" | translate}} </p>
                        	<p class="InputTypeLeft" style="text-align:center; margin-left:0px; margin-bottom:-5px;"  ng-model="custumername"   autocomplete="off" >{{custumername}}</p>
                        </a>
                        <!-- <img src="img/textbox.png" style="width:100%" /> -->
                    </div>
                </div>
              <!--  <div>
                     <p>QUOTE NAME</p>
                     <p style="position:absolute; margin-left:80px; margin-top:16px;">{{quotedate}}</p>
                     <div class="Input">
                             <input class="InputText1"  style="border:none; margin-left:130px; background-color:transparent; text-align:left; outline:0; padding-top:3px;"  ng-model="fields.quotename" id="phoneInput" type="text" placeholder="" />
                     </div>
                </div>
                
                <div style="padding-top:110px;" ng-click="selectMarket()">
                     <p>MARKET</p>
                     <div class="Input">
                                        <input class="InputText"  style="border:none; text-align:center; outline:0; padding-top:8px;"  ng-model="fields.marketname" id="phoneInput" type="text" placeholder="" />
                     </div>
                </div>
                
                
                 <div style="padding-top:30px;" ng-if="!isSettings" ng-click="openSettings()">
                     <div class="GreyBtn">
                         <div style="text-align:center" >More</div>
                     </div>
                </div>
                
                <div ng-if="isSettings">
                    <div style="padding-top:30px;">
                        <a href="#/app/customers/">
                           <div class="GreyBtn">
                              <div >CUSTOMER : {{custumername}}</div>
                           </div>
                        </a>
                    </div>
              </div>  -->    
 		   </div> 
	</ion-content>				
</ion-view>
