/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body
{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	background-color:black;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif
	background-image:url('../img/main/bck.jpg');
	background-size:100% 100%;
}

.productTotal
{
	width:80%;
	background-color:#CCC;
	font-family:Verdana, Geneva, sans-serif;
	color:white;
	text-align:center;
	margin-top:20px;
	padding:5px;
	font-weight:bold;
	border-radius:10px;
}

.HeaderTitle 
{
	font-size:30px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:13px;
	z-index:100;
	left:0px;
	position:relative;
	width:110%;
	text-align:left;
	padding-left:10px !important;
	padding-right:10px !important;
}

.HeaderTitleCenter
{
	font-size:30px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:13px;
	z-index:100;
	position:relative;
	width:100%;
	text-align:center;
	padding-left:0px !important;
	padding-right:0px !important;
}


.chinaImg
{
	width:31%;
	float:left;
	margin-left:5px;
}


.mainClass
{
	background-color:#f4f4f4;
}

p {
	margin:0;
}

a {
  color:inherit;
  text-decoration: none;
 }
 
#AboutDv
{
	position:fixed;
	width:17%;
	height:57px;
	min-height:50px;
	/*background-color:#d5ab45;*/
	overflow:hidden;
	right:0;
}

#infoBtn {
	width:50%;
	padding-left:22px;
	padding-top:8px;
	
}


#HeaderDv
{
	position:fixed;
	width:100%;
	height:8%;
	min-height:50px;
	background-color:#d5ab45;
	overflow:hidden
}

#backBtn
{
	float:right;
	width:8%;
	padding:10px;
	margin-top:-6px;
	height:100%;
}


#homeBtn
{
	float:left;
	width:10%;
	padding:10px;
	margin-top:-2px;
	height:100%;
}


.Input
{
	width:90%;
	margin-top:2%;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/textInput.png');
	background-size:100%;
}

.InputDisabled
{
	width:90%;
	margin-top:2%;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/text_field.png');
	background-size:100%;
}

.GreyBtn
{
	width:80%;
	margin-top:2%;
	background-repeat:no-repeat;
	background-image:url('../img/main/greyBtn.png');
	background-size:100%;
	color:white;
}

.GreyBtn div
{
	width:100%;
	font-size:3.8vw;
	padding-top:4%;
	padding-bottom:4%;
	color:white;
	text-align:right;
	border:hidden;
	margin-top:3%;
	margin-left:-8%;	
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #333;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #333;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #333;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #333;
}


.chinaBtn
{
	left:40%;
	margin-top:2.5%;
	font-size:20px;
	color:white;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	border:2px solid #c5c5c5;
	padding:10px;
	color:#ff7b00;
}

#UserInfoImg 
{
	width:70px;
	float:left;
	margin-top:5px;
	padding-left:20px;
}


.InputText
{
	width:100%;
	font-size:6vw;
	padding:3%;
	padding-top:0%;
	color:white;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:-1%;
	margin-left:-8%;
}


#CodeSelectDv
{
	margin-bottom:5px;
	overflow:hidden;
	width:100%;
	padding-bottom:5px;
}

#userLine
{
	float:right;
	width:2px;
	height:0px;
	position:relative;
	left:0px;
	top:-10px;
}

#UserInfoCode
{
	float:left;
	text-align:left;
	margin-right:0px;
	margin-top:15px;
	direction:rtl;
	padding-left:25px;
}

.UserInfoText
{
	z-index:1;
	position:relative;
	width:100%;
	font-size:13px;
	color:black;
	background-color:transparent;
	text-align:left;
	border:hidden;
	margin-left:-30%;
	margin-top:-3px;
	padding-left:15px;
	direction:rtl;
}

.UserTitleText
{
	font-size:16px;
	font-weight:bold;
	margin-top:5px;
}

#UserCodeText
{
	z-index:1;
	position:relative;
	width:100%;
	font-size:6vw;
	color:#000;
	background-color:transparent;
	text-align:left;
	border:hidden;
	margin-left:-30%;
	margin-top:3px;
}

#codeBtns {
	float:right;
	width:7%;
	height:10px;
	margin-right:15px;
	margin-top:15px;
}

#editCode { 
	margin-top:0%;
	height:17px;
	padding-left:5px;
	margin-bottom:10%;
}
/*
#DeleteCode 
{ 
	height:17px;
	padding-left:5px;
	padding-top:2px;
}*/

/*SIDE MENU*/
     .sideMenu
     {
        display: block;
        width: 130px;
        padding: 28px;
        background-color: #2f2f2f;
        position:fixed;
        top:0;
        left:0;
        font-size:15px;
        text-align:center;
     }
     
     .sideMenuBtn
     {
        padding-bottom: 7px;
     }
     .sideMenuBtn span
     {
         color:White;
         font-size:16px;
         text-align:center;
     }
	 
	.user-image {
	border: 1px solid #999999;
    border-radius: 50%;
    padding: 8px;
    width: 50%;
	}
	




	.greeting {
		color: #ffffff;
		font-weight: 500;
		left:45px !important;
	}

	.message {
		color: #999999;
		left:45px !important;
	}

	.item-content {
		background-color: #23262a;
	}
     

	.list {
		margin-bottom: 10px;
		top:20px;
		padding-bottom: 1px;
		padding-left: 0;
		padding-top: 1px;
		position: relative;
		overflow:hidden;
	}
	
	ion-side-menu ion-item.item {
		border-color: #33383e;
		border-left: medium none #33383e;
		border-right: medium none #33383e;
	}
	
	ion-side-menu .heading-item .user-image-container {
		left: 12px;
		position: absolute;
		top: 16px;
		width: 90px;
	}
	
	
	ion-side-menu ion-item.item .item-content .icon::before {
    background-color: #3e454c;
    border-radius: 50%;
    color: #ffffff;
    font-size: 22px;
    height: 32px;
    line-height: 32px;
    width: 32px;
}
	.item-icon-left .icon::before, .item-icon-right .icon::before {
		display: block;
		text-align: center;
		width: 32px;
	}
	
	.menu-text {
		padding-top:14px;
		color: #cccccc;
		font-weight: 500;
		text-align:left;
		padding-right:10px;
	}
	.menuimage {
		text-align:left;
		float:left;
	}
	
	.supplierbutton 
	{	
		width:50px;
		height:50px;
		position:absolute;
		z-index:100;
		margin-left:80px;
	}
	
	.supplierRow
	{
		overflow:hidden;
		width:100%;
	}
	
	.supplierRow p
	{
		float:left;
		width:25%;
		padding-top:16px;
		font-size:12px;
	}
	
	.supplierRow div
	{
		float:left;
		width:70%;
	}
	
.social-actionsheet .action-sheet-title
{
	width:100%;
    padding: 0 15px;
    text-align: right !important;
	font-size:20px;
	direction:rtl;
	font-weight:bold;
	border-bottom:1px solid grey;
	margin-top:5px;
}

.social-actionsheet .action-sheet .button
{
	width:100%;
    padding: 0 15px;
    text-align: right !important;
	font-size:20px;
	font-weight:bold;
	border-bottom:1px solid grey;
	margin-top:5px;
}

.social-actionsheet .action-sheet .button .text-action
{
    margin-left: 30px;
}

.social-actionsheet .action-sheet .button .text-width
{
    margin-left: 50px;
}


/* Register Page */

.userType
{
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#6f6f6f;
	font-weight:bold;
	margin-bottom:20px;
}

.registenCircle
{
	overflow:hidden;
	width:100%;
	margin-bottom:30px;
	margin-left:20%;
}

.NonActiveCircle
{
	float:left;
	width:30%;
}

.NonActiveCircle div
{
	width:53px;
	border-radius:50%;
	background-color:#fff;
	height:50px;
	margin:10px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.NonActiveCircle p
{
	font-size:22px;
	color:#b2b2b2;
	font-weight:200;
	padding:4px;
}

.ActiveCircle
{
	float:left;
	width:30%;
}

.ActiveCircle div
{
	width:53px;
	border-radius:50%;
	background-color:#ff7b00;
	height:50px;
	margin:10px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.ActiveCircle p
{
	font-size:22px;
	color:#ff7b00; /*Orange*/
	font-weight:bold;
	padding:4px;
}

.inputTextDiv
{
	width:100%;
	margin-top:30px;
}

.inputTextActive
{
	width:80%;
}

.inputTextNonActive
{
	width:80%;
	opacity:0.6;
}

.InputType
{
	background-color:transparent;
	margin-bottom:-15px;
	width:100%;
	text-align:center;
	border-bottom:3px solid grey !important;
}

.InputTypeLeft
{
	background-color:transparent;
	margin-bottom:-15px;
	width:100%;
	text-align:center;
	padding-left:0px !important;
	color:#999 !important;
	font-weight:bold;
	border-bottom:1px solid grey !important;
}

.InputTypeLeftDate
{
	background-color:transparent;
	margin-bottom:-15px;
	width:100%;
	text-align:left;
	padding-left:0px !important;
	color:#999 !important;
	font-weight:bold;
	border-bottom:1px solid grey !important;
}

.inputIcon
{
	width:30px;;
	position:absolute;
	margin-left:3px;
	left:14%;
	margin-top:7px;
}

.inputDate
{
	position:absolute;
	margin-left:3px;
	right:14%;
	margin-top:7px;
	color:#afafaf;
	font-weight:bold;
	font-size:12px;
}

.inputDateProduct
{
	margin-left:-10px;
	margin-top:7px;
	color:white;
	font-weight:bold;
	font-size:11px;
}


.inputDateProduct span
{
	font-size:15px;
	color:white;
}

.inputDate span
{
	font-size:18px;
}

.inputTitle
{
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#6f6f6f;
	font-weight:bold;
	margin-bottom:20px;
}

.inputTitleOrange
{
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#ff7b00; /*Orange*/
	font-weight:200;
	margin-bottom:20px;
}

.terms
{
	margin-top:20px;
	color:#6f6f6f;
}

.terms a
{
	color:#ff7b00;
	text-decoration: underline;
}

.startButton
{
	width:30%;
	margin-top:30px;
}


/* Login Page */

.lanButton
{
	position:absolute;
	right:15px;
	margin-top:-35px;
	color:white;
	font-weight:bold;
	font-size:18px;
}

.forgotPass
{
	font-size:22px;
	text-decoration: underline;
	text-align:center;
	color:#ff7b00; /*Orange*/
	margin-top:30px;
}

.loginButtons
{
	overflow:hidden;
	width:80%;
	margin-top:30px;
}

.loginButtons_Left
{
	width:40%;
	float:left;
	margin-left:5%;
}

.loginButtons_Right
{
	width:40%;
	float:right;
	margin-right:5%;
}


/* Add product Page */

.productHeader
{
	width:70%;
	overflow:hidden;
	margin-top:0px;
	font-size:17px;
	font-weight:bold;
}

.productHeaderLeft
{
	width:45%;
	float:left;
}

.productHeaderLeft p
{
	margin-top:-20px;
}

.productHeaderRight
{
	width:45%;
	float:right;
}

.productHeaderRight p
{
	margin-top:-20px;
}

.headerDate
{
	width:100%;
	background-color:#636363;
}


.titleAddProduct
{
	margin-left:-10px;
	margin-top:7px;
	color:white;
	font-weight:bold;
	font-size:14px;
}

.inputTitleProductOrange
{
	float:left;
	width:25%;
	margin-left:20px;
	margin-top:40px;
	font-size:21px;
	font-weight:bold;
	color:#ff7b00; /*Orange*/
	
}

.inputTitleProduct
{
	float:left;
	width:25%;
	margin-left:20px;
	margin-top:40px;
	font-size:21px;
	font-weight:bold;
	color:#b2b2b2; /*Orange*/
}


.inputTextDivSmall
{
	width:50%;
	margin-top:30px;
	float:left;
	
}

.inputTextDivSmallNonActive
{
	width:50%;
	margin-top:30px;
	float:left;
	opacity:1;
}

.inputTextProductActive
{
	width:104%;
}

.inputTextDivProduct
{
	width:65%;
	margin-top:20px;
	float:left;
	opacity:1;
}


.inputTextDivProductReg
{
	background-color:transparent;
	margin-bottom:-15px;
	width:100%;
	text-align:center;
	padding-left:0px !important;
	color:#999 !important;
	font-weight:bold;
	border-bottom:2px solid grey !important;
}

.inputTextDivProductActive
{
	background-color:transparent;
	margin-bottom:-15px;
	width:100%;
	text-align:center;
	padding-left:0px !important;
	color:#ff7b00 !important;
	font-weight:bold;
	border-bottom:2px solid #ff7b00 !important;
}

.inputTextDivImage
{
	width:10%;
	float:left;
	margin-top:20px;
	margin-left:20px;
}

.ClickButton
{
	background-color:#ff7b00;
	padding:20px;
	color:white !important;
}

.ClickButton img
{
	margin-top:-15px;
}

.ClickButton a div
{
	color:white;
}

.duplicateButton
{
	right:20px;
	position:relative;
}


.footerIcon
{
	width:10%;
	margin-left:10%; 
}

.footerIcon a
{
	width:100%; 
	font-size:8px; 
	margin-top:-15px;
	position:relative;
	top:0px;
}

.footerIcon div
{
	text-align:center
	margin-left:0px;
	text-align:center;
	width:100%;
	color:#636363;
	font-weight:bold;
	position:relative;
	top:-10px
}

.footerIcon3
{
	width:33%;
	overflow:hidden;
}

.footerIcon3 a
{
	width:100%; 
	font-size:2px; 
	background-color:blue;
	margin-top:-15px;
	position:relative;
	top:0px;
}

.footerIcon3 div
{
	text-align:center
	margin-left:0px;
	text-align:center;
	width:100%;
	color:#636363;
	font-weight:bold;
	position:relative;
	top:-10px
	background-color:blue;
}

.bar_footer3
{
	width:100%;
	overflow:hidden;
}

.bar_footer3Dv
{
	width:33%;
	float:left;
}

.bar_footer3DvClick
{
	width:33%;
	float:left;
	background-color:#ff7b00;
	color:white !important;
	padding:0px;
	margin:0px;
}

.footerIcon
{
	width:65% !important;
	margin-left:3%;
	margin-top:8px;
}


/* Toogle Class */

.toogle
{
	overflow:hidden;
	background-color:#f4f4f4;
	width:100%;
	padding:0px;
	padding-top:10px;
}

.tooglLeft
{
	width:50%;
	float:left;
	margin-left:30px;
	margin-top:3px;
	font-size:22px;
}

.tooglRight
{
	width:40%;
	float:right;
}


.NonActiveCircleToogle
{
	float:right;
	width:30%;
}

.NonActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#fff;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.ActiveCircleToogle
{
	float:right;
	width:30%;
}

.ActiveCircleToogle div
{
	width:38px;
	border-radius:50%;
	background-color:#ff7b00;
	height:35px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	
	-moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.lineToogle
{
	margin-top:3x;
	margin-bottom:3px;
}

.FooterToogle
{
	font-size:35px !important;
	color:white;
	font-size:bold !important;
	margin-top:10px !important;
	font-family:Tahoma, Geneva, sans-serif;
}

.ToogleHeaderTitle
{
	font-size:25px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:5px;
	z-index:100;
	left:0px;
	position:relative;
	width:100%;
	text-align:center;
	
}


/* Modal */
.modalHead
{
	width:100%;
	overflow:hidden;
}

.modalBack img
{
	 left:3%;
	 top:30px;
	 position:absolute;
	 width:17%;
}

.modalInfo
{
	 left:25%;
	 color:white;
	 font-size:18px;
	 font-weight:bold;
	 top:15px;
	 position:absolute;
	 text-align:center;
	 width:25%;
}

.modalInfo1
{
	color:white;
	 font-size:18px;
	 font-weight:bold;
	 left:48%;
	 text-align:center;
	 top:15px;
	 position:absolute;
	 width:25%;
}

.modalSearch
{
	 left:70%;
	 top:20px;
	 position:absolute;
	 width:15%;
}

.modalMenu
{
	 left:85%;
	 top:20px;
	 position:absolute;
	 width:15%;
}

.modalBar
{
	width:100%;
	position:absolute;
	top:0px;
}

.headerModal
{
	width:100%;
	background-color:#636363;
	padding-left:20px;
	margin-top:-10px;
	padding-top:0px;
}

#editProduct
{
	width:15%;
}


/* supplier */

.supplierCancel
{
	float:left;
	width:20%;
}

.supplierCamera
{
	float:left;
	width:60%;
}

.suplliers2rows
{
	width:100%;
	overflow:hidden;
	margin-top:30px;
}

.suplliers2rows div
{
	float:left;
	width:48%;
	overflow:hidden;
	margin-left:2%;
}

.suplliers3rows
{
	width:100%;
	overflow:hidden;
	margin-top:30px;
}

.suplliers3rows div
{
	float:left;
	width:30%;
	overflow:hidden;
	margin-left:2%;
}

.suplliers1rows
{
	width:100%;
	overflow:hidden;
	margin-top:30px;
}

.suplliers1rows div
{
	float:left;
	width:100%;
	overflow:hidden;
	margin-left:2%;
}

.inputP31
{
	float:left; 
	width:31%;
}



.inputDiv60
{
	width:60%;  
	float:left; 
	margin-top:-10px; 
	margin-left:10px;
}

.inputPsmall
{
	float:left; 
	width:50%;
}

.inputDivsmall
{
	width:50%;  
	float:right; 
	margin-top:0px; 
	margin-left:0px; 
}
